td, th {
  border: 1px solid;
  text-align: left;
  padding: 8px;
  background-color:rgb(255, 255, 255);
}
h1,h2{
color: rgb(253, 253, 253);
border-width: 300px;
border: darkblue;
text-align: center;
}      
.title,#totalC{
text-align: center;
}
h3{
color: red;
border-radius: 10%;
}
.border{
border-style: thick;
border-width: 50px;
border-color: darkblue;
}
#fit{
background-color: rgb(0, 0, 0)
}
h4{
font-size: xx-small;
font-style: italic;
font-family: serif;
color: aliceblue;
}
.box{
background-color: rgb(0, 0, 0);
width: 500px;
border: 8px solid rgb(255, 0, 0);
padding: 50px;
margin: 100px;
display: inline-block;
border-radius: 10%;
background-image: url("https://covid19.gov.ua/images/microbe.png");
background-size: cover;
}
.box2{
background-color: rgb(0, 0, 0);
width: 500px;
border: 8px solid rgb(255, 0, 0);
padding: 50px;
margin: 100px;
display: relative;
border-radius: 10%;
background-image: url("https://covid19.gov.ua/images/microbe.png");
background-size: cover;
}
